/* Buttons */

.primary-button,
.secondary-button {
  background-color: var(--primary);
  border: none;
  border-radius: .313rem;
  color: var(--on-primary);
  cursor: pointer;
  font-size: 0.8rem;
  outline: none;
  padding: 0.6rem 1rem;
}

.secondary-button {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
