mettle-tabs.styled::part(panel-container) {
  width: 50rem;
  height: 200px;
  background: rgba(0, 0, 0, 1);
  color: var(--on-surface, white);
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

mettle-tabs.styled::part(navigation-slot) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

mettle-tabs.styled div:not([slot="navigation"]),
mettle-tabs.styled p {
  padding: 1rem;
  background: var(--surface, rgba(0, 0, 0, 0.5));
  color: var(--on-surface, white);
  margin: 0;
}

mettle-tabs.styled [aria-selected] {
  padding: 1rem;
  border: none;
  outline: none;
  background: var(--surface, rgba(0, 0, 0, 0.5));
  color: var(--on-surface, white);
  font-weight: bold;
}

mettle-tabs.styled div[aria-selected="true"] {
  background: rgba(0, 0, 0, 1);
}

mettle-tabs.styled.side {
  display: grid;
  grid-template-columns: auto 1fr;
}

mettle-tabs.styled.side::part(navigation-slot) {
  flex-direction: column;
}

mettle-tabs.styled.side::part(panel-container) {
  border-radius: 0;
  height: 100%;
}

mettle-tabs.styled.side::part(navigation-slot) {
  border-radius: 0;
}

mettle-tabs.animate::part(panel-tab) {
  transition: transform 0.3s;
}

/** Ignore CSS **/
mettle-tabs.ignore [data-ignore] {
  flex-grow: 1;
}

mettle-tabs.ignore::part(navigation) {
  width: 50rem;
}
mettle-tabs.ignore::part(navigation-tab-group) {
  display: flex;
  flex-grow: 1;
}
mettle-tabs.ignore::part(navigation-slot) {
  flex-grow: 1;
}

mettle-tabs.ignore::part(panel-container) {
  border-top-right-radius: 0;
}
