.menu {
  background: #2B3087;
  color: #FFFFFF;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}

.menuNav {
  cursor: pointer;
}

mettle-drop-down.styled {
  opacity: 0;
  transition: opacity 0.3s;
}

mettle-drop-down.styled[data-open] {
  opacity: 1;
}
