<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Getting Started</title>
  </head>
  <body>
    <nav>
      <a href="#" rel="home/" title="Main Page" class="active">Home</a>
      <a href="#" rel="about/" title="About Page">About</a>
    </nav>
    <mettle-transition-display class="route-display"></mettle-transition-display>
    <noscript>
      <!-- No JS alternative -->
    </noscript>
  </body>
</html>
