<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Getting Started</title>
  </head>
  <body>
    <span id="id-9cff94d5-b2d8-48ef-a615-bad86bb9924f">Hover or tap me for tip</span>
  <mettle-tool-tip
    data-position="bottom"
    data-for="id-9cff94d5-b2d8-48ef-a615-bad86bb9924f"><p>Tool Tip Works!</p></mettle-tool-tip>
    <noscript>
      <!-- No JS alternative -->
    </noscript>
  </body>
</html>
