mettle-accordion.styled details {
  background-color: #359;
  border-radius: 8px;
  box-shadow: 0 0 3px 0 #333;
  color: #fff;
  margin-bottom: 1rem;
  width: 50rem;
}

mettle-accordion.styled details[open] > summary {
  border-bottom: 1px solid #fff;
}

mettle-accordion.styled summary {
  border: 0;
  border-radius: 5px;
  list-style-type: none;
  margin: 0.5rem 0;
  outline: none;
  padding: 0.5rem 0.5rem;
  user-select: none;
}

mettle-accordion.styled summary::marker {
  display: none;
}

mettle-accordion.styled summary::after {
  content: '\2303';
  display: block;
  float: right;
  font-size: 1rem;
  font-weight: 900;
  margin-right: 1rem;
  transform: rotate(90deg);
  transition: 0.2s ease-in-out transform;
}

mettle-accordion.styled details[open] summary::after {
  transform: rotate(180deg);
}

mettle-accordion.styled p {
  padding: 0 0.5rem;
}
