:root {
  --primary: #3F4EA1;
  --on-primary: #fff;
  --secondary: hsla(237, 52%, 35%, 0.515);
  --on-secondary: #fff;
}

/* Bug: https://github.com/storybookjs/storybook/issues/15577 */
.innerZoomElementWrapper > div > div > div {
  height: 100% !important;
}

.subheading {
  --mediumdark: '#999999';
  font-weight: 900;
  font-size: 13px;
  color: #999;
  letter-spacing: 6px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 40px;
}

.link-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
}

@media (min-width: 620px) {
  .link-list {
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (-ms-high-contrast:none) {
.link-list {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
  }
}

.link-item,
.link-header {
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 10px 0;
  display: block;
  padding: 20px 30px 20px 15px;
  border: 1px solid #00000010;
  border-radius: 5px;
  transition: background 150ms ease-out, border 150ms ease-out, transform 150ms ease-out;
  color: #333333;
  display: flex;
  align-items: flex-start;
}

.link-header {
  box-shadow: none;
  border: none;
}

.link-item-x:hover {
  border-color: #1EA7FD50;
}

.link-item-x:active {
  border-color: #1EA7FD;
  transform: translate3d(0, 0, 0);
}

.link-item strong,
.link-header strong {
  font-weight: 700;
  display: block;
  margin-bottom: 2px;
}

.link-header strong {
  font-size: 1.2rem;
}

.link-item img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  flex: none;
}

.link-item span {
  font-size: 14px;
  line-height: 20px;
}

.link-header span {
  font-size: initial;
  line-height: initial;
}

.tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #E7FDD8;
  color: #4f9031;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

.tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tip-wrapper code {
  font-size: 12px;
  display: inline-block;
}

.svg-color {
  fill: #227efb;
}

textarea {
  width: 100%;
  min-height: 5rem;
}

.red {
  color:red;
}

.green {
  color:green;
}

.bold {
  font-weight: bold;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe {
  display: flex;
  padding-bottom: 2rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

.gap {
  gap: 1rem;
}

.recipe .heading {
  border-bottom: 1px solid silver;
  font-size: 1.778rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2.5rem;
  margin: 1.25rem 0;
  text-transform: uppercase;
}

.url-display {
  background-color: hsl(0deg 0% 94% / 49%);
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 1.2rem;
  width: 80vw;
}

.role-story-header nav {
  display: flex;
  margin: 0.2rem 0;
}

.role-story-header nav a {
  background-color: #1f1d1d;
  color: var(--on-primary);
  display: flex;
  padding: 0.8rem;
}

.role-story-header nav a:hover {
  background-color: var(--secondary);
  display: flex;
}

.role-story-header nav a.active {
  background-color: var(--primary);
}

.role-story-main {
  display: flex;
  flex-grow: 1;
  margin-top: 0.2rem;
  padding: 0.4rem;
}

.role-story-main .route-display {
  flex-basis: 100%;;
}

.role-story-main section {
  background-color: #eee;
  border: 0.2em solid;
  padding: 0.5em;
  display: grid;
  grid-gap: 1rem;
}

.page1 {
  grid-template-rows: 4em 5em 1em;
  grid-template-columns: 30% 2rem 1fr;
  grid-template-areas:
      "main main header"
      "main main footer"
      "main main footer";
}

.page2 {
  grid-template-rows: 4em 4em 4em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "header header header"
      "main footer footer"
      "main footer footer";
}

.page3 {
  grid-template-rows: minmax(4rem, auto) 8rem 5rem;
  grid-template-columns: auto;
  grid-template-areas:
      "header"
      "main"
      "footer";
}

.role-story-main section :nth-child(1) {
  background-color: #ffadad;
  display: flex;
  align-items: center;
  justify-content:center;
  grid-area: header;
}

.role-story-main section :nth-child(2) {
  background-color: #caffbf;
  display: flex;
  align-items: center;
  justify-content:center;
  grid-area: main;
}
.role-story-main section :nth-child(3) {
  background-color: #bdb2ff;
  display: flex;
  align-items: center;
  justify-content:center;
  grid-area: footer;
}

.img-border {
  border: 1px solid black;
}

pre.coder {
  background: #333333 !important;
  border: 1px solid #DFE1E6 !important;
  color: white !important;
  font-family: monospace;
  padding: 0.5rem !important;
}

pre.coder > p {
  color: white !important;
}
